# TéléMed Sénégal V2 - Configuration Firebase
# Optionnel en mode Démo / Simulation (l'application fonctionne immédiatement avec stockage local intelligent)
# Renseignez ces variables pour connecter votre projet Firebase Production :

NEXT_PUBLIC_FIREBASE_API_KEY=your-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=your-app-id

# Email Super-Admin par défaut (Dr Thiam)
NEXT_PUBLIC_ADMIN_EMAIL=dr.thiam@telemed.sn
